.app {
  display: flex;
  font-family: sans-serif;
}

.sidebar {
  padding: 10px;
  width: 250px;
  border-right: 1px solid #e0e0e0;
}

.sidebar .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.sidebar .header .create-btn {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.sidebar .header .create-btn:hover {
  background-color: #0069d9;
}

.doc-item {
  padding: 5px;
}

.doc-item.active,
.doc-item:hover {
  background-color: #f0f0f0;
}

.top-bar {
  display: flex;
  flex-direction: row-reverse;
}

.top-bar button {
  margin: auto 2px;
}

.main-content {
  flex: 1;
}
